<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Strive-Health</mat-toolbar>
    <mat-nav-list>
      
      <a class="links"  routerLink="user" routerLinkActive="active">	<mat-icon>domain</mat-icon>UserManagement</a>
      <a class="links"  routerLink="framework" routerLinkActive="active"><mat-icon>compare</mat-icon>FrameworkManagement</a>
      <a class="links"  routerLink="research" routerLinkActive="active">	<mat-icon>description</mat-icon>Research Management</a>
      <a class="links"  routerLink="askdoctor" routerLinkActive="active"><mat-icon>feedback</mat-icon>Askdoctor</a>
      <a class="links"  routerLink="knowledgehub" routerLinkActive="active"><mat-icon>assignment</mat-icon>knowledgehub</a>
      <a class="links"  routerLink="policies" routerLinkActive="active"><mat-icon>video_call</mat-icon>Policies</a>
      <a class="links"  routerLink="analytics" routerLinkActive="active"><mat-icon>video_call</mat-icon>Analytics</a>
      <a class="links"  routerLink="config" routerLinkActive="active"><mat-icon>video_call</mat-icon>Config</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Health-Diary</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
